{% include 'admin/cabecera.html' %}
<h1>Seccion de Admin</h1>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div
            class="h-100 p-5  border rounded-3">
            <h2>Bienvenido administrador <strong>{{ session['usuario'] }}</strong></h2>
            <p class="lead">Aqui se administra el inventario del sitio.</p>
            <p class="lead">

                <a class="btn btn-primary btn-lg" href="/admin/libros" >Administrar libros</a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div
            class="h-100 p-5 bg-primary border rounded-3">
            <h2>Add borders</h2>
            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure
                to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both
                column's content for equal-height.</p>
            <button class="btn Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
                mix and match with additional component themes and more." type="button">Example button</button>
        </div>
    </div>
</div>

{% include 'admin/pie.html' %}